@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, poppins;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100vh;
}

.signup {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 30rem;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.signIn {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 30rem;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	display: none;
}

input {
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.btn {
	/* width: 5rem; */
	padding: 10px 20px;
	background-color: #4caf50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
